/// <reference path="../References" />


@import 'strawberry/core';

@import 'Theme';

@include new-component(
    $name: 'app-body',
    $selector: '.app-body',
    $declarations: (
        'color': get-color('foreground'),
        'font': get-font('paragraphs')
        )
    ) {
    @include dynamic {
        color: get('color');
        font: get('font');
    }
    @include static {
        margin: 0;
    }
}