<h1 class="app-page-title">Forum</h1>

<section class="row center-xs">
    <div class="col-md-10">
        
        <div class="app-subject" *ngFor="let subject of subjects">
            <div class="app-subject-date">{{ subject?.addedDate }}</div>
            <md-list class="app-subject-box">

                <md-list-item>
                    <img class="app-subject-author-avatar"
                         md-list-avatar
                         [src]="subject?.author?.avatar || '/Shared/Assets/Images/UnknownPerson.png'"
                         [alt]="subject?.author?.userName">

                    <div class="app-subject-line" md-line>
                        <h3 class="app-member-username">{{ subject?.title }}</h3>
                        <p class="app-subject-description">{{ subject?.description }}</p>

                        <span class="app-fill-remaining"></span>

                        <md-icon class="app-subject-action">{{ subject?.comments?.count }}</md-icon>
                        <span class="app-subject-comment-count">29</span>
                    </div>
                </md-list-item>
                <md-list-item>
                    <div class="app-subject-line app-subject-comment-line" md-line>
                        <small class="app-subject-comment">{{ subject?.comments?[0]?.message }} -- {{ subject?.comments?[0]?.author }}</small>

                        <span class="app-fill-remaining"></span>

                        <small>{{ subject?.comments?[0]?.addedDate }}</small>
                    </div>
                </md-list-item>
            </md-list>
        </div>
        
        <button class="app-add-subject-btn" md-fab>
            <md-icon class="md-24">add</md-icon>
        </button>

    </div>
</section>
