<!-- == Toolbar == -->
<md-toolbar class="app-toolbar">
    <button class="app-menu-btn"
            #menuBtn
            md-icon-button
            (click)="sidenav.toggle()">
        <md-icon>menu</md-icon>
    </button>

    <button routerLink="/welcome" md-button>STRAWBERRYSASS</button>

</md-toolbar>

<md-sidenav-layout fullscreen
                   [style.top]="toolbarHeight">

    <!-- == Sidenav == -->
    <md-sidenav class="app-sidenav"
                #sidenav
                mode="side">

        <md-nav-list class="app-nav">
            <a class="app-nav-link"
               *ngFor="let link of links"
               md-list-item
               [routerLink]="link.url"
               routerLinkActive="active">
                {{ link.text }}
            </a>
        </md-nav-list>

    </md-sidenav>

    <!-- == Content == -->
    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
    
    <!--<footer class="app-footer">
        <div class="container-fluid">
            Code protégé par licence MIT.
        </div>       
    </footer>-->

</md-sidenav-layout>