/// <reference path="../../../node_modules/strawberry/src/strawberry" />


@import 'strawberry/core';

@import 'Theme';

@include new-component(
    $name: 'app-toolbar',
    $selector: ':host',
    $declarations: (
        'background-color': get-color('primary'),
        'color': get-color('foreground', 'light')
        )
    ) {
    @include dynamic {
        .#{this('name')} {
            background-color: get('background-color');
            color: get('color')
        }
    }
    @include static {
        .#{this('name')} {
            .app-menu-btn {
                margin-right: 10px;
            }
        }
    }
}