// == Material ==
@import './Common/ButtonComponent';
@import './Common/CheckboxComponent';
@import './Common/DialogComponent';
@import './Common/InputComponent';
@import './Common/MenuComponent';
// == App ==
@import './Common/BodyComponent';
@import './Common/PageTitleComponent';

section {
    margin: 18vh 0;
}

form {
    text-align: left;
}

.app-fill-remaining {
    flex: 1 1 auto;
}

.app-confirm-section {
    margin: 16px 0;
    text-align: right;
}

.app-lang-menu {
    position: relative;
    top: -30px;
}
