/// <reference path="../../Assets/Styles/References" />


@import 'strawberry/core';

@import 'Theme';

@include new-component(
    $name: 'app-footer',
    $selector: ':host',
    $declarations: (
        'background-color': get-color('secondary'),
        'color': get-color('foreground', 'light')
        )
    ) {
    @include dynamic {
        .app-footer {
            background-color: get('background-color');
            color: get('color');
            padding: 15px 0;
        }
    }
    @include static { 
        .app-footer {
            text-align: center;
        }
    }
}