<!-- == Toolbar == -->
<md-toolbar class="app-toolbar">
    <md-icon class="app-menu-btn"
             (click)="sidenav.toggle()">menu</md-icon>

    <span class="app-brand"
          routerLink="/welcome">Strawberry Sass</span>

    <span class="app-fill-remaining"></span>

    <md-icon class="app-login-btn"
             *ngIf="showLoginBtn"
             (click)="openLoginDialog()">account_circle</md-icon>
</md-toolbar>

<md-sidenav-layout fullscreen
                   [style.top]="toolbarHeight">

    <!-- == Sidenav == -->
    <md-sidenav class="app-sidenav"
                #sidenav
                mode="side">

        <md-nav-list class="app-nav">
            <a class="app-nav-link" md-list-item routerLink="/welcome" routerLinkActive="active"> Bienvenue</a>
            <a class="app-nav-link" md-list-item routerLink="/about" routerLinkActive="active"> À propos</a>
            <a class="app-nav-link" md-list-item routerLink="/contact-us" routerLinkActive="active"> Nous joindre</a>
        </md-nav-list>
        
        <md-nav-list class="app-nav" *ngIf="showMembersLinks">
            <a class="app-nav-link" md-list-item routerLink="/forum" routerLinkActive="active"> Forum</a>
        </md-nav-list>
    </md-sidenav>

    <!-- == Content == -->
    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>

    <!--<footer class="app-footer">
        <div class="container-fluid">
            Code protégé par licence MIT.
        </div>
    </footer>-->

</md-sidenav-layout>