@using StrawberrySass.UI.Shared.App.Layout

<!-- == Toolbar == -->
<md-toolbar class="app-toolbar">
    <md-icon class="app-menu-btn"
             (click)="sidenav.toggle()">menu</md-icon>

    <span class="app-brand"
          routerLink="/welcome">Strawberry Sass</span>

    <span class="app-fill-remaining"></span>

    <md-icon class="app-login-btn"
             (click)="openLoginDialog()">account_circle</md-icon>
</md-toolbar>

<md-sidenav-layout fullscreen
                   [style.top]="toolbarHeight">

    <!-- == Sidenav == -->
    <md-sidenav class="app-sidenav"
                #sidenav
                mode="side">

        <md-nav-list class="app-nav">
            @foreach (Hyperlink link in ViewBag.MenuLinks)
            {
            <a class="app-nav-link"
               md-list-item
               routerLink="@link.NavigationUrl"
               routerLinkActive="active">
                @link.DisplayedText
            </a>
            }
        </md-nav-list>
    </md-sidenav>

    <!-- == Content == -->
    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>

    <!--<footer class="app-footer">
        <div class="container-fluid">
            Code protégé par licence MIT.
        </div>
    </footer>-->

</md-sidenav-layout>