/// <reference path="../../Assets/Styles/References" />


@import 'strawberry/core';

@import 'Theme';

@include new-component(
    $name: 'app-toolbar',
    $selector: ':host',
    $declarations: (
        'background-color': get-color('primary'),
        'brand-font': get-font('headers'),
        'color': get-color('foreground', 'light')
        )
    ) {
    @include dynamic {
        .app-toolbar {
            background-color: get('background-color');
            color: get('color');
            .app-brand {
                font: get('brand-font');
            }
        }
    }
    @include static {
        .app-toolbar {
            .app-menu-btn {
                cursor: pointer;
                margin-right: 10px;
            }
            .app-brand {
                cursor: pointer;
                font-size: 2rem;
                margin-left: 20px;
            }
            .app-login-btn {
                cursor: pointer;
            }
        }
    }
}