/// <reference path="../../Assets/Styles/References" />


@import 'strawberry/core';

@import 'Theme';

@include new-component(
    $name: 'app-toolbar',
    $selector: ':host',
    $declarations: (
        'background-color': get-color('primary'),
        'brand-font': get-font('headers'),
        'color': get-color('foreground', 'light')
        )
    ) {
    @keyframes shake {
      1%, 9% {
        transform: translate3d(-1px, 0, 0);
      }
      
      2%, 8% {
        transform: translate3d(2px, 0, 0);
      }
    
      3%, 5%, 7% {
        transform: translate3d(-4px, 0, 0);
      }
    
      4%, 6% {
        transform: translate3d(4px, 0, 0);
      }
    }
    @include dynamic {
        .app-toolbar {
            background-color: get('background-color');
            color: get('color');
            .app-brand {
                font: get('brand-font');
            }
        }
    }
    @include static {
        .app-toolbar {
            .app-menu-btn {
                cursor: pointer;
                margin-right: 10px;
            }
            .app-brand {
                cursor: pointer;
                font-size: 2rem;
                margin-left: 20px;
            }
            .app-action-icon {
                cursor: pointer;
                margin-left: 20px;
            }
            .app-notification-icon {
                &.app-active {
                    animation-name: shake;
                    animation-duration: 10s;
                    animation-fill-mode: both;
                    animation-timing-function: cubic-bezier(.36,.07,.19,.97);
                    animation-iteration-count: infinite;
                    perspective: 1000px;
                    backface-visibility: hidden;
                    transform: translate3d(0, 0, 0);
                } 
            }
            .app-lang-icon {
                text-align: right;
                width: 280px;
            }
        }
    }
}