/// <reference path="../../../Shared/Assets/Styles/References" />


@import 'strawberry/core';

@import 'Theme';

@include new-component(
    $name: 'app-about',
    $selector: ':host',
    $declarations: ('null':'null')
    ) {
    @include dynamic {
        section {
            margin: 18vh 0;
        }
        .app-contributors {
            margin-top: 15vh;
        }
        .app-contributor {
            .app-contributor-photo {
                max-height: 300px;
            }
        }        
    }
    @include static {
        text-align: center
    }
}