/// <reference path="../../../../node_modules/strawberry/src/strawberry" />


@import 'strawberry/core';

@import 'Theme';

@include new-component(
    $name: 'app-about',
    $selector: ':host',
    $declarations: (
        'font': get-font('primary'),
        )
    ) {
    @include dynamic {
        section {
            margin: 75px 0;
        }
        .app-contributors {
            margin-top: 50px;
        }
        .app-contributor {
            .app-contributor-photo {
                max-height: 300px;
            }
        }        
    }
    @include static {
        section > * {
            text-align: center
        }
    }
}