<h1 class="app-page-title">À propos</h1>

<!-- == Description == -->
<section class="row">
    <div class="col-xs-12">

        <h2>Développer avec passion</h2>

        <p>Strawberry est développer par une équipe passionnée qui ont à cœur la rigueur code et le travail bien fait.</p>

    </div>
</section>

<!-- == Contributors == -->
<section class="row center-xs">
    <div class="col-md-10">
        <div class="box">

            <h2>Contributeurs</h2>

            <div class="app-contributors row">

                @for (var i = 0; i < 4; i++)
                {
                    <div class="col-md-3">
                        <div class="box">
                            <md-card class="app-contributor">
                                <img src="~/Shared/Assets/Images/UnknownPerson.png" alt="Vous?" class="app-contrivutor-photo" md-card-image>

                                <md-card-content>
                                    <md-card-title class="app-contributor-name">Recherché</md-card-title>
                                </md-card-content>

                                <md-card-actions>
                                    <button routerLink="/contact-us" md-button>APPLIQUER</button>
                                </md-card-actions>
                            </md-card>
                        </div>
                    </div>
                }

            </div>

        </div>
    </div>
</section>