/// <reference path="../../../Shared/Assets/Styles/References" />


@import 'strawberry/core';

@import 'Theme';

@include new-component(
    $name: 'app-about',
    $selector: ':host',
    $declarations: ('null':'null')
    ) {
    @include dynamic { }
    @include static {
        text-align: center;
        .app-contact-way-icon {
            font-size: 8rem;
            height: auto;
            width: auto;
        }
    }
}