<h1 class="app-page-title">Nous joindre</h1>

<section class="row around-md">

    <div class="col-md-6">

        <div class="app-contact-way box">
            <md-icon class="app-contact-way-icon">email</md-icon>
            <h4>Adresse Courriel</h4>
            <p>
                info@strawberrysass.com<br/>
                support@strawberrysass.com
            </p>
        </div>

    </div>

    <div class="col-md-6">

        <div class="app-contact-way box">
            <md-icon class="app-contact-way-icon">place</md-icon>
            <h4>Adresse Postale</h4>
            <p>
                1600 Amphitheatre Pkwy<br/>
                Mountain View, CA 94043, États-Unis
            </p>
        </div>

    </div>

</section>