/// <reference path="../../../../node_modules/strawberry/src/strawberry" />


@import 'strawberry/core';

@import 'Theme';

@include new-component(
    $name: 'app-about',
    $selector: ':host',
    $declarations: ('null':'null')
    ) {
    @include dynamic {
        section {
            margin: 18vh 0;
        }
        .app-contact-way {
            .app-contact-way-icon {
                font-size: 8rem;
            }
        }        
    }
    @include static {
        text-align: center;
        .app-contact-way-icon {
            height: auto;
            width: auto;
        }
    }
}