<header class="app-header" [style.height]="headerHeight"
        (window:resize)="setHeaderHeight()">

    <div class="app-header-content">
        <img class="app-logo" src="~/Shared/Assets/Images/Logo.png" alt="StrawberrySass" />
    </div>

</header>

<div class="row center-xs">
    <div class="col-md-8">
        <div class="box">

            <section>
                <h1>Créez des composants CSS<br /> qui s’adaptent au style de tous vos projets.</h1>
                <p>Construit avec Sass, Strawberry est vous permettant de structurer, personnaliser et réutiliser votre CSS plus facilement et plus rapidement.</p>
            </section>

            <section class="app-feature row">
                <div class="col-md-3">
                    <div class="box">
                        <img class="app-feature-img" src="~/Shared/Assets/Images/LightBulb.png" alt="Simple" />
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="app-feature-txt app-left box">
                        <h3>Simple à apprendre</h3>
                        <p>La simplicité et prioritaire et c’est pourquoi nous avons pensé Strawberry pour être facile à comprendre et facile à utiliser.</p>
                    </div>
                </div>
            </section>
            
            <section class="app-feature row">
                <div class="col-md-9">
                    <div class="app-feature-txt app-right box">
                        <h3>Rapide et performant</h3>
                        <p>Strawberry générera toujours uniquement le code CSS que vous avez besoin pour permettre à votre application d’être rapide et légère.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <img class="app-feature-img" src="~/Shared/Assets/Images/Speedometer.png" alt="Rapide"/>
                    </div>
                </div>
            </section>
            
            <section class="app-feature row">
                <div class="col-md-3">
                    <div class="box">
                        <img class="app-feature-img" src="~/Shared/Assets/Images/SassLogo.png" alt="Sass" />
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="app-feature-txt app-left box">
                        <h3>Construit pour durer</h3>
                        <p>Construit avec le populaire langage Sass et pensé pour être compatible avec les dernières avancés du CSS, Strawberry est ici pour rester.</p>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>