/// <reference path="../../../../node_modules/strawberry/src/strawberry" />


@import 'strawberry/core';

@import 'Theme';

@include new-component(
    $name: 'app-welcome',
    $selector: ':host',
    $declarations: ('null':'null')
    ) {
    @include dynamic {}
    @include static {
        section {
            margin: 18vh 0;
            &:first-child {
                margin-bottom: 30vh;
            }
        }
        .app-feature {
            .app-feature-img {
                height: auto;
                width: 100%;
            }
            .app-feature-txt {
                &.app-left {
                    padding-left: 15px;
                    text-align: left;
                }
                &.app-right {
                    padding-right: 15px;
                    text-align: right;
                }
            }
        }
    }
}