<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <div class="app-dialog-header">
        <h1 class="app-dialog-title">Login</h1>

        <span class="app-fill-remaining"></span>

        <md-icon class="app-dialog-close-btn"
                 (click)="dialogRef.close()">close</md-icon>
    </div>

    <div class="app-dialog-content">

        <md-input type="email" placeholder="Adresse courriel"
                  formControlName="email"
                  [class.error]="formErrors['email'] != ''">
            <md-hint>{{ formErrors['email'] }}</md-hint>
        </md-input>

        <md-input type="password" placeholder="Mot de passe"
                  formControlName="password"
                  [class.error]="formErrors['password'] != ''">
            <md-hint>{{ formErrors['password'] }}</md-hint>
        </md-input>

    </div>

    <div class="app-dialog-footer">
        <button type="submit"
                md-button
                [disabled]="!loginForm.valid">
            Se connecter
        </button>

        <span class="app-fill-remaining"></span>

        <button md-button
                routerLink="/account/register">
            S'inscrire
        </button>
    </div>

</form>
