/// <reference path="../../../Shared/Assets/Styles/References" />


@import 'strawberry/core';

@import 'Theme';

@include new-component(
    $name: 'app-about',
    $selector: ':host',
    $declarations: ('null':'null')
    ) {
    @include dynamic { }
    @include static {
        .row > div {
            text-align: right;
        }
        button {
            margin: 16px 0;
        }
    }
}