<h1 class="app-page-title">Membres</h1>

<section class="row center-xs">
    <div class="col-md-10">

        <md-list class="app-members">
            
            <md-list-item *ngFor="let member of members">
                
                <img class="app-member-avatar"
                     md-list-avatar
                     [src]="member.avatar || '/Shared/Assets/Images/UnknownPerson.png'"
                     [alt]="member.email">

                <div class="app-member-infos" md-line>
                    <h3 class="app-member-username">{{ member.userName }}</h3>

                    <span class="app-fill-remaining"></span>

                    <md-icon class="app-member-action">mode_edit</md-icon>
                    <md-icon class="app-member-action">delete_forever</md-icon>
                </div>
            </md-list-item>

        </md-list>

    </div>
</section>