/// <reference path="./Assets/Styles/References" />


// ======
// Colors
// ======

@include color(
    $name: 'primary',
    $code: #be1931
    ) {
    @include color-variant(
        $name: 'light',
        $code: #f4abba
        );
}

@include color(
    $name: 'secondary',
    $code: #263238
    );

@include color(
    $name: 'accent',
    $code: #77b255
    );

@include color(
    $name: 'danger',
    $code: #e51c23
    );

@include color(
    $name: 'foreground',
    $code: rgba(#000, .87)
    ) {
    @include color-variant(
        $name: 'light',
        $code: #fff
        );
}

@include color(
    $name: 'background',
    $code: #fff
    );

// =====
// Fonts
// =====

@include font(
    $name: 'headers',
    $family: 'Marck Script, cursive'
    );

@include font(
    $name: 'paragraphs',
    $family: 'Roboto, sans-serif'
    );

// ==========
// Components
// ==========

@include component(
    $name: 'app-input',
    $declarations: ('null':'null')
    ) {
    @include component-variant(
        $name: 'error',
        $selector: '.error',
        $declarations: (
            'border': 1px solid get-color('danger'),
            'hint-color': get-color('danger'),
            'placeholder-color': get-color('danger'),
            '!focused': (
                'border-color': get-color('danger'),
                'placeholder-color': get-color('danger'),
                )
            )
        );
}