/// <reference path="../../node_modules/strawberry/src/strawberry" />


// ======
// Colors
// ======

@include color(
    $name: 'primary',
    $code: #be1931
    ) {
    @include color-variant(
        $name: 'light',
        $code: #f4abba
        );
}

@include color(
    $name: 'secondary',
    $code: #263238
    );

@include color(
    $name: 'accent',
    $code: #77b255
    );

@include color(
    $name: 'foreground',
    $code: rgba(#000, .87)
    ) {
    @include color-variant(
        $name: 'light',
        $code: #fff
        );
}

@include color(
    $name: 'background',
    $code: #fff
    );

// =====
// Fonts
// =====

@include font(
    $name: 'primary',
    $family: 'Roboto, sans-serif'
    );